body, html {
    height: 100%;
}
.height-100{
    height:100%;
}
#aside-bar{
    background: #136dfb;
    height: 100%;
    display: table;
}
.main-title{
    color:white;
    text-align: center;
    font-size: 30px;
    display: table-cell;
    vertical-align: middle;
}
.main-content{
    padding: 30px;
    background: #f7f8fa;
}
.addTaskTitle{
    font-size: 25px;
}
.label{
    color:#adadaf;
}
textarea#description{
    height: 200px;
    width: 100%;
}
.submit-btn{
    width: 50%;
}
.padding-30{
    padding: 30px;
}
.previous-tasks-header{
    background: #cde1fd;
    height: 50px;
    border-radius: 8px 8px 0 0;
}
.previous-tasks-header p{
    color: #3f74fb;
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
}
.background-white{
    background: white;
}
.padding-15{
    padding: 15px;
}
.font-size-20{
    font-size: 20px;
}
.to-do-tasks-lists p{
    margin: 0;
}
.border-bottom-1{
    padding: 20px;
    border-bottom: 1px solid;
}
